/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/**
 * common Infima breakpoints:
 * 768px — mobile
 * 996px — tablet/small desktop (standard)
 * 1440px — large desktop (less common)
 */

:root {
  --ifm-font-family-base: 'Open Sans', system-ui, sans-serif;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e5585;
  --ifm-color-primary-dark: #294c78;
  --ifm-color-primary-darker: #274877;
  --ifm-color-primary-darkest: #203b5d;
  --ifm-color-primary-light: #335d92;
  --ifm-color-primary-lighter: #356299;
  --ifm-color-primary-lightest: #3c6ead;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25a0c2;
  --ifm-color-primary-dark: #2190af;
  --ifm-color-primary-darker: #1f88a5;
  --ifm-color-primary-darkest: #1a7088;
  --ifm-color-primary-light: #29b0d5;
  --ifm-color-primary-lighter: #32b4d8;
  --ifm-color-primary-lightest: #4fbfdd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hero--primary {
  background-color: transparent;
  color: inherit;
  font-size: 1rem;
}


/* For large screens only */
@media screen and (min-width: 768px) {

  .hero__title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .hero__subtitle {
    font-size: 1rem;
  }

  .hero__subtitle {
    width: 75%;
    margin: 0 auto;
  }
}